<app-header>

</app-header>
<div class="container-fluid g-0">


  <!-- MAIN CONTENT -->
  <main class="black-borde">

    <!-- TOOBAR TO ADD AND SEARCH EMPLOYEES -->
    <div class="toolbar">

      <!-- <div class="add-employee">
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
          data-bs-target="#exampleModal" #addEmployeeButton>Add Employee</button>
      </div> -->

      <!-- <div class="search-employees">
        <input type="search" class="form-control" placeholder="Search Employees"
          (input)="searchEmployees(searchInput.value)" #searchInput>
      </div> -->

    </div>

    <!-- AREA TO DISPLAY ALL THE EMPLOYEES -->
    <div class="employees">

      <div class="row mt-5" *ngIf="employee.length == 0">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added!</span>
        </div>
      </div>

      <div class="row mt-4" *ngFor="let employ of employee; let ei = index;">
        <div class="col">
          <app-employee [employee]="employ"
           ></app-employee>
        </div>
      </div>


    </div>
  </main>
</div>

<!-- Modal -->


<app-footer></app-footer>
